<section class="my-4">
    <div class="container-fluid px-4 px-lg-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-last order-md-first mt-2 mt-md-5">
                <div>
                    <h2 class="display-6 green-element mb-5 mt-4 mt-md-0"><span>/ </span>@Html.Raw(ViewBag.AboutTextMain)</h2>
                    <hr />
                    <div class="text-standard">@Html.Raw(ViewBag.AboutText)</div>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-self-start">
                <div class="p-0 mt-5"><img class="img-fluid" src="~/svg/undraw_product_tour_re_8bai.svg" alt="" /></div>
            </div>
        </div>
    </div>
</section>


